

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

h1, h2, h3 {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 0.5em;
}

h3 {
    font-weight: 500;
    font-size: 1.2rem;
}


img {
    max-width: 100%;
}

a {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}


a:visited {
    color: #fff;
}

a:hover,
a:focus {
    color: #f15165
}

.container {
    margin: 0 auto;
    max-width: 1000px;
       
}

.row {
    display: flex;
    justify-content: space-between;    
}

.col {
    width: 100%;  
}

.col + .col {
    padding-left: 1em;
}


.col__left {
    padding: 1em 3em;
}

.col__right {
    padding: 1em 0em;
}

.col__image {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding: 1em 3em;

}

.flex {
    flex-direction: column;
    display: flex;
    margin: 1em 0em 0em 1em; 
}

.hero {
    background-image: linear-gradient(to right, #f15165, #e67560, #d8916b, #cba884, #c3b9a7);
}

.hero__image {
    margin: 10px 0px;
    border-radius: 50%;   
}

.hero__title,
.hero__subtitle {
    padding-top: 0.5em;
}

.hero__title {
    text-transform: uppercase;
    font-style: italic;
}

.fontawesome {
    font-size: 2rem;
    padding-bottom: 1em;

}

.fafooter {
    padding-right: 1em;
}

.rectangle {
    background-color: #f15165;
    height: 0.5em;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 2em;

}

.footer h2 {
    padding-bottom: 1em;
}

.technologies {
    margin: 0 auto;
    max-width: 550px;
}

.technologies h2 {
        margin: 0 1em;
        padding: 1em 0;
        text-align: center;
    }

@media (max-width: 600px) {
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    col {
        padding: 0em;
    }
    
    .col + .col {
        padding: 0;
    }

    .col__right,
    .col__left,
    .col__image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }

    .hero__image {
        margin: 1em 0;
    }

    .margin__mobile {
        margin: 0 1em;
        padding: 1em 0;
    }
}